/* font style from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@500;600;700;800;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

/* nav section start from here */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 25px 0px 30px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0px auto;
}

.logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo-container>img {
    width: 60px;
}

.logo-container h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.logo-container span,
.footer-title span {
    color: #FF42A5;
}

.nav-option-container {
    display: flex;
    align-items: center;
    gap: 20px;

}

.nav-option-container a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

}

.nav-option-container .first-option {
    display: flex;
    gap: 20px;
}

.nav-option-container .second-option {
    display: flex;
    gap: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* nav section ends here */

/* banner section starts from here */
.banner-section {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -622px 0px;
}

.banner-container {
    max-width: 1100px;
    margin: 0px auto;
    min-height: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.banner-title-container {
    width: 50%;
}

.banner-image-container {
    width: 50%;
}

.banner-image-container img {
    width: 100%;
    height: 100%;
}

.banner-title-container h3 {
    color: #0B0223;
    font-size: 34px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title-container h1 {
    font-size: 67px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 15px;
}

.banner-title-container p {
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    padding-bottom: 10px;
}

.banner-info {
    padding-bottom: 20px;
}

.banner-title-container .signin {
    border: none;
    outline: none;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 27px;
}

.banner-title-container .go-rouge {
    border: none;
    outline: none;
    border-radius: 48px;
    background: #3db3e6;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 25px;
}

.btn:hover {
    cursor: pointer;
}

/* funny games section start from here */
.funny-games-section {
    max-width: 1100px;
    margin: 0px auto;
    margin-bottom: 60px;
}

.funny-games-title {
    text-align: center;
    padding-bottom: 40px;
}

.funny-games-title h3 {
    color: #0B0223;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 10px;
}

.funny-games-title p {
    color: #534C64;
    font-weight: 400;
    font-size: 14px;
}

.funny-games-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-container {
    min-height: 300px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.video-single {
    width: 213px;
    min-height: 350px;
}

.video-single img {
    height: 264px;
    width: 100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.video-single p {
    font-size: 13px;
    line-height: 19px;
    padding-top: 12px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(68%, -298%);
    text-align: center;
}

.image-container:hover{
    border: 3px solid #FF42A5;
    border-radius: 13px;
}

.image-container:hover .image {
    border-radius: 10px;
    opacity: 0.3;
    background-color: black;
    background-blend-mode: overlay;
    
}

.image-container:hover .middle {
    opacity: 2;
}

.middle:hover {
    text-align: center;
}

.text {
    color: #FF42A5;
}
.fa-play{
    border: 2px solid white;
    color: white;
    border-radius: 50px;
    padding: 6px 7px 5px 8px;
}


/* play-instantly-section starts from here */
.play-instantly-section {
    margin-top: -50px;
    max-width: 1100px;
    margin: 0px auto;
}

.play-instantly-container {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.play-instantly-title {
    width: 34%;
    text-align: right;
}

.play-instantly-image {
    width: 36.5%;
}

.play-instantly-image img {
    width: 400px;
    height: 100%;
}

.play-instantly-title>h2 {
    align-self: self-end;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.play-instantly-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-title>p {
    color: #534C64;
    line-height: 25px;
}

.upper-image {
    display: flex;
    justify-content: center;
    position: relative;

}

.upper-image>img {
    width: 200px;
    position: relative;
    left: 78px;
    bottom: 179px;
}

/* online playing section */
.play-online-section {
    max-width: 1100px;
    margin: 0px auto;
}

.play-online-container {

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.play-online-title {
    width: 34%;
    text-align: right;
}

.play-online-image {
    width: 36.5%;
}

.play-online-image img {
    width: 400px;
    height: 100%;
}

.play-online-title>h2 {
    align-self: self-end;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.play-online-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-online-title>p {
    color: #534C64;
    line-height: 25px;
}

.upper-image2 {
    display: flex;
    justify-content: center;
    position: relative;

}

.upper-image2>img {
    width: 200px;
    position: relative;
    left: -78px;
    bottom: 179px;
}

/* game-option-scetion starts from here */
.game-option-scetion {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    min-height: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 388px;
    margin-top: 50px
}

.game-option-container {
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    row-gap: 20px;
    column-gap: 0px;
}

.single-game-option {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #FFF;
    border-radius: 50px;
    padding: 5px 10px
}

.single-game-option>p {
    color: #0B0223;
    font-weight: 600;
}

.single-game-option>img {
    width: 50px;
    height: 50px;
}

.single-game-option:hover {
    border: 1px solid #F948B2;
    cursor: pointer;

}

.single-game-option:hover p {
    color: #F948B2;

}

/* footer-section starts from here */
.footer-container {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.footer-section {
    min-height: 420px;
    background-color: #0B0223;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-option,
li {
    list-style: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14px;
}

.footer-privacy>li {
    list-style: none;
    margin-bottom: 25px;
}

.footer-title>img {
    width: 60px;
}

.footer-title>h2 {
    color: white;
    font-size: 30px;

}

.link {
    font-size: 30px;
    color: white;
}

.footer-title {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 25px;
}

.footer-option {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
}

.social-media-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 41px;
}

.footer-privacy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.footer-privacy>li,
.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.copyright>p {
    margin-top: -10px;
}

.footer-option>li,
.footer-privacy>li {
    cursor: pointer;
}

/* footer section ends here */

/* we are gamer section start from here */
.we-are-gamer-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-bottom: 100px;

}

.we-are-gamer-container {
    max-width: 1100px;
    margin: 0px auto;
    min-height: 420px;
    display: flex;
    align-items: center;
    gap: 15px;
    /* justify-content: space-between; */
}

.we-are-gamer-image {
    width: 60%;
}

.we-are-gamer-title {
    text-align: right;
}

.we-are-gamer-image>img {
    width: 100%;
    height: 100%;
}

.we-are-gamer-title>h2 {
    text-align: right;
    font-size: 36px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.we-are-gamer-title > p{
    color: #534C64;
text-align: right;
font-weight: 400;
line-height: 30px;
margin-bottom: 20px;
}

.we-are-gamer-title button{
    border: none;
    outline: none;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 27px;
   align-self: right;
   margin-bottom: 20px;
}

.we-are-gamer-title h4{
    color: #534C64;
text-align: right;
font-size: 20px;
font-weight: 500;
margin-bottom: 5px;
}

.we-are-gamer-title h3{
    color: #534C64;
font-size: 26px;
font-weight: 700;
}
/* career section starts from here */
.career-section{
    margin-bottom: 65px;
    margin-bottom: -50px;
    background-color:#FF42A5
}
.career-container{
    min-height: 550px;
    max-width: 1100px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.career-title{
    width: 50%;
}

.career-image{
    width: 50%;
}

.career-image > img{
    width: 120%;
    height: 100%;
}

.career-info-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.career-info2{
    text-align: right;
}

.career-title > h3{
    color: #FFF;
font-size: 36px;
font-weight: 700;
padding-bottom: 32px;
}

.career-title{
    color: #FFF;
    font-size: 14px;
font-weight: 400;
line-height: 24px;

}

.career-info-container p{
  font-weight: bolder;
}

.career-title > p{
    padding-bottom: 28px;
}

.careers-btn{
    border: none;
    outline: none;
    border-radius: 48px;
    background:white;
    color: #FF42A5;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 27px;
}

.careers-btn:hover{
    cursor: pointer;
}