@media screen and (min-width:577px) and (max-width:1024px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-option-container {
        flex-direction: column;
    }

    .first-option {
        flex-direction: column;
        gap: 25px;
    }

    .second-option {
        padding: 8px 13px;
        gap: 25px;
    }

    .logo-container {
        padding-bottom: 27px;
    }

    nav {
        box-shadow: none;
    }

    /* banner section responsive */
    .banner-section {
        background: none;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-title-container {
        width: 100%;
        text-align: center;
    }

    .banner-image-container {
        width: 74%;
    }

    .banner-image-container img {
        padding-bottom: 50px;
    }

    /* funny-games section starts from here */
    .funny-games-title h3 {
        font-size: 30px;
    }

    .funny-games-title p {
        font-size: 13px;
    }

    .funny-games-title {
        padding: 0px 15px;
        padding-bottom: 34px;
    }
    .video-container{
       display: grid;
       gap: 50px;
       grid-template-columns: repeat(2, 200px);
    }
    /* play instantly section */
.play-instantly-container {
    
    flex-direction: column;
 }
 
 .play-instantly-title {
     width: 100%;
     text-align: right;
     text-align: center;
 }
 
 .play-instantly-image {
     width: 100%;
     text-align: center;
 }
 
 .play-instantly-image img {
     width: 327px;
     height: 100%;
 }
 .upper-image > img{
     width: 163px;
     bottom: 136px;
     left: 140px;
 }
 .play-instantly-title > p{
     padding-bottom: 27px;
 }
 
 /* play online section */
    .play-online-section {
    
       margin-top: -40px;
     }
.play-online-container {
    
    flex-direction: column;
 }
 
 .play-online-title {
     width: 67%;
     text-align: right;
     text-align: center;
 }
 
 .play-online-image {
     width: 100%;
     text-align: center;
 }
 
 .play-online-image img {
     width: 327px;
     height: 100%;
 }
 .upper-image2 > img{
     width: 163px;
     bottom: 136px;
     left: 140px;
 }
 .play-online-title > p{
     padding-bottom: 27px;
 }
 .game-option-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
     /* footer section */
     .footer-option {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0px;
    }
    
/* we are gamer section start from here */
.we-are-gamer-container {
    flex-direction: column;
 }
 .we-are-gamer-image {
     width: 100%;
 }
 .we-are-gamer-title, .we-are-gamer-title>h2, .we-are-gamer-title > p, .we-are-gamer-title button, .we-are-gamer-title h4 {
     text-align: center;
 }
 .we-are-gamer-title h3{
    padding-bottom: 30px;
}

/* career section rseponsible */
.career-title {
    width: 100%;
}

.career-image {
    width: 100%;
}

.career-container {
    flex-direction: column;
}

.career-info-container {
justify-content: space-around;
    text-align: center;
}
.career-info,
.career-info2,
.career-title>h3,
p {
    text-align: center;
}

.careers-btn {
    align-self: center;
    margin-bottom: 30px;
}
.careers-btn-container{
display: flex;
justify-content: center;
}
.career-section{
    padding-top: 50px;
}
.career-image>img {
    width: 100%;
    height: 100%;
}
}




